@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: url("/bg.jpg") fixed;
  display: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

*{		/* CSS Reset */
	margin : 0;
	padding : 0;
}
